.p0 {
    height: var(--panel-height);
}

.panel {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    overflow-y: scroll;
    pointer-events: none;
    scroll-snap-type: y mandatory;

    /* 一些变量用于计算高度 */
    --min-height: var(--panel-height);
    --max-height: 60dvh;
    --deviation-height: 16dvh;
}

.panel::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.panel>.container {
    height: calc(100dvh - var(--min-height) + var(--max-height) + var(--deviation-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

.container>.p1 {
    scroll-snap-align: start;
    height: calc(100dvh - var(--min-height));
}

.container>.panel-content {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
    pointer-events: all;
    align-items: center;
    scroll-snap-align: end;
    color: var(--text-color);
    flex-direction: column;
    background-color: var(--panel-bg);
    border-radius: 20px 20px 0 0;
}

.panel-content>.drag-bar {
    width: 100%;
    display: flex;
    height: var(--min-height);
    background-color: #55555511;
}

.panel-content>.drag-bar::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 50%;
    margin: .5rem;
    height: .5rem;
    max-width: 258px;
    cursor: ns-resize;
    border-radius: 99px;
    background-color: #55555533;
    transform: translateX(-50%);
}

[data-theme="dark"] .drag-bar {
    background-color: #55555533;
}

[data-theme="dark"] .drag-bar::after {
    background-color: #ffffff33;
}

.panel-content>.panel-content-container {
    width: 100%;
    flex: 1;
}

.container>#copyright {
    width: 100%;
    display: flex;
    font-size: small;
    align-items: end;
    color: #33333366;
    font-family: sans-serif;
    justify-content: center;
    height: var(--deviation-height);
    background-color: var(--panel-bg);
    padding-bottom: calc(var(--deviation-height) /5);
}

[data-theme="dark"] #copyright {
    color: #ffffff66;
}