<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="/module/mui.all.js"></script>
    <link rel="stylesheet" href="/style/home.css">
</head>

<body>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="body">
                <div class="ForMe">
                    <div class="base">
                        <img src="https://rj-cloud.pages.dev/ForMe/avatar.png" alt="AVATAR" id="avatar">
                        <h4 id="name">Roy-Jin</h4>
                        <div id="subtitle-text"></div>
                    </div>
                    <div class="quote">
                        <i class="fa-solid fa-quote-left"></i>
                        <p id="quote-text"></p>
                    </div>
                    <div id="social">
                        <li>https://github.com/Roy-Jin</li>
                        <li>JinRoy@outlook.com</li>
                        <li>https://qm.qq.com/q/2Qaj5mB6Jq</li>
                        <li>https://space.bilibili.com/3461572714302163</li>
                    </div>
                </div>
                <div class="content">
                    <div class="today">
                        <div id="date">
                            <p class="time">
                                <span class="num">00:00:00</span>
                                <span class="sub">AM</span>
                            </p>
                            <p class="day">Monday, 1 January.</p>
                        </div>
                        <hr>
                        <div id="sayings"></div>
                    </div>
                    <div id="projects">
                        <li>[RuoYiBoard](https://rj-web.pages.dev/ryboard)</li>
                        <li>[JSTERM](https://rj-web.pages.dev/jsterm)</li>
                        <li>[2048](https://rj-web.pages.dev/2048)</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="//cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/dayjs.min.js"></script>
<script type="module" src="/script/home.js"></script>

</html>