<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="/module/mui.all.js"></script>
    <link rel="stylesheet" href="/style/music.css">
</head>

<body>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            
        </div>
    </div>
</body>
<script type="module" src="/script/music.js"></script>

</html>