<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Roy-Jin | MyMusic</title>

    <!-- 网站图标 -->
    <link rel="icon" href="https://rj-cloud.pages.dev/ForMe/avatar-nobg.png" type="image/png">
    <link rel="shortcut icon" href="https://rj-cloud.pages.dev/ForMe/avatar.ico" type="image/x-icon">

    <!-- 初始化样式表 -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" />
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="./style.css">

    <!-- 初始化脚本 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/color-thief/2.6.0/color-thief.min.js"></script>
    <script src="/script/theme.js" defer></script>
    <script src="./MusicalProvider.js"></script>
    <script src="./script.js"></script>
</head>

<body>
    <div id="aplayer"></div>

    <div class="music-player">
        <!-- <div class="cover"></div> -->

        <div class="control-panel">
            <div class="song">
                <h2 class="title">Unknown</h2>
                <p class="author">Unknown</p>
                <div class="lyric">Lyrics in here...</div>
            </div>

            <div class="controls">
                <div class="control prev">
                    <i class="fas fa-backward-step fa-2x"></i>
                </div>
                <div class="control play-pause">
                    <i class="fas fa-play fa-2x"></i>
                </div>
                <div class="control next">
                    <i class="fas fa-forward-step fa-2x"></i>
                </div>
            </div>

            <div class="progress-container">
                <span class="current-time">0:00</span>
                <input type="range" class="progress-bar" value="0" min="0" max="100">
                <span class="total-time">0:00</span>
            </div>
        </div>
    </div>
</body>

</html>