<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Roy-Jin | MyIndex</title>

    <!-- 网站图标 -->
    <link rel="icon" href="https://rj-cloud.pages.dev/ForMe/avatar-nobg.png" type="image/png">
    <link rel="shortcut icon" href="https://rj-cloud.pages.dev/ForMe/avatar.ico" type="image/x-icon">

    <!-- 初始化样式表 -->
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/loading.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

    <!-- 初始化脚本 -->
    <script src="/script/theme.js" defer></script>
</head>

<body>
    Hello World!
</body>

</html>